<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "ホーム", "/" %></li>
    <li class="breadcrumb-item active" aria-current="page">攻撃シナリオ一覧</li>
  </ol>
</nav>

<h1>攻撃シナリオ一覧</h1>

<% for i in 1..5 %>
  <div class="row my-1 bg-light rounded align-items-center">
    <div class="col">
      攻撃シナリオ1
    </div>
    <div class="col-4 text-end">
      <%= link_to "編集", "/attack_scenarios/1", class: "btn btn-primary" %>
      <%= link_to "削除", "/tbd?next_url=/attack_scenarios", class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<div class="row my-1">
  <div class="col text-end">
    <%= link_to "新規追加", "/tbd?next_url=/attack_scenarios/1", class: "btn btn-primary" %>
  </div>
</div>
